
@media screen and (max-width: 800px) {
 html, body {
     height: 100%;
    margin: 0;
    overflow-x: hidden; /* Скрываем горизонтальный скролл */
    width: 100%;
    max-width: 100%;
    }
 .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        width: 100%;
        flex-direction: column;
    }

    .nav-list li {
        padding: 10px;
    }

    .rightNav {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    #search {
        width: 80%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

       .rotate-block {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-img {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    padding: 0 10px;
    overflow-x: auto; /* Добавляем горизонтальный скролл */
}

.img-wrapper {
    flex: 1 1 30%; /* Указываем, что картинки должны занимать 30% ширины */
    max-width: 30%;
    height: auto;
    position: relative;
    perspective: 1000px;
}

.front-side-img, .back-side-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.change-img:hover .img-wrapper:hover .front-side-img {
    transform: rotateY(180deg);
}

.change-img:hover .img-wrapper:hover .back-side-img {
    transform: rotateY(360deg);
}

.back-side-img {
    transform: rotateY(180deg);
}

@media (max-width: 800px) {
    .img-wrapper {
        flex: 1 1 30%; /* Убедимся, что картинки занимают 30% ширины */
        max-width: 30%;
    }

    .change-img {
        gap: 5px;
    }
}
	.first {
		border: none;
		}
		.second {
	    
		border: none;
		}
		.three {
	
		border: none;
		}
}

 



 


