
@media screen and (max-width: 800px) {
  .rightNav { 
    display: none;
} 
  #search { 
    display: none;
} 
  .img-wrapper {
margin-left: 15px; 
 width: 50px;  /* Ширина для каждой ячейки */
  height: 50px; /* Высота для каждой ячейки */
  position: relative;
  perspective: 150px;
}
}
