
@media screen and (max-width: 800px) {
 html, body {
      max-width: 100%;
  overflow-x: hidden; 
    }
 .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-list {
        width: 100%;
        flex-direction: column;
    }

    .nav-list li {
        padding: 10px;
    }

    .rightNav {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    #search {
        width: 80%;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .rotate-block {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .change-img {
        flex-direction: column;
        align-items: center;
    }

    .img-wrapper {
        width: 80%;
        height: auto;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .front-side-img img,
    .back-side-img img {
        width: 100%;
        height: auto;
    }

    .footer {
        height: auto;
        padding: 20px 0;
    }

    .h__social {
        flex-direction: column;
    }

    .h__social li {
        margin: 5px 0;
    }
 .zoloto {
  max-width: 100%;
}
}

 



 


